@font-face {
    font-family: 'Riviera Nights';
    src: url('/site/templates/assets/RivieraNights-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Riviera Nights';
    src: url('/site/templates/assets/RivieraNights-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Riviera Nights';
    src: url('/site/templates/assets/RivieraNights-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Riviera Nights';
    src: url('/site/templates/assets/RivieraNights-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Riviera Nights';
    src: url('/site/templates/assets/RivieraNights-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}